{% extends "navbar.html" %}
{%load static%}
    {% block content %}
    <div class="card w-100">
        <div class="card-body">                
                <h5 class="card-title fav">My Activity</h5>
                <p class="card-text">This page will be about my activity</p>
            </div>
        </div>
        <br>
        <div>
            <a type="button" class="btn btn-secondary add" href="{% url 'story6:addActivity' %}" role ='button'> Add Activity</a>       
        </div>    
        <br>
        <div class="row w-100 justify-content-center">
            {% for actv in activity %}
            <div class="col-4 m-4 p-4 rounded border">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark"> 
                        <b> {{ actv.activity }} </b> 
                    </li>
                    {% for prsn in person %}
                        {% if prsn.activity == actv %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    {{ prsn.person }}
                                        <a href="{% url 'story6:removeActivity' remove_id=prsn.id %}">
                                            <button class="btn btn-icon btn-danger" > - </button>
                                        </a>
    
                                    </button>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                    <br>
                    
                    <a type="button" class="btn btn-secondary btn-sm" href="{% url 'story6:addPerson' person_id=actv.id %}" role ='button'> Join</a>   
            </div>
            {% endfor %}
        </div>

    {% endblock %}
