{% extends "navbar.html" %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group" >
                {{form.activity.label_tag}} {{form.activity}}
            </div>
            <input href="{% url 'story6:addActivity' %}" class="btn btn-secondary" type="submit" value="Add Activity">
        </form>
    {% endblock %}