{% extends "navbar.html" %}
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group" >
                {{form.person.label_tag}} {{form.person}}
            </div>
            <input href="" class="btn btn-secondary" type="submit" value="Add Person">
        </form>
    {% endblock %}
    