{% extends "nav.html" %}
{% load static %}
<!DOCTYPE html>

<html> 
    <head> 
        <title> Raniah Nur Hanami </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
    </head>
    <body> 
    {% block story1 %}
        <img src="{% static 'photo.png' %}" class="photo">
        <h2> Raniah Nur Hanami </h2>
        <em> Saya adalah pribadi yang menyenangkan dan bersemangat. Saya yang senang berkomunikasi dengan orang lain 
            <br> sehingga cukup mudah beradaptasi dengan orang baru. </br>
        </em>

        <p> Nama panggilan : Rania atau Wawa </p>
        <p> NPM : 1906293291   </p>
        <p> Angkatan : 2019  </p>
        <p> Hobi : Olahraga, bermain, nonton film  </p>
        <p> Pendidikan :
            Universitas Indonesia : 2019 - sekarang 
            <p> &nbsp; SMAN 5 Bogor : 2016 - 2019 <p>
            <p> &nbsp; SMPN 4 Bogor : 2013 - 2016 </p>
        </p> 
            <a href="https://www.instagram.com/ranianhanami/" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/raniah-nur-hanami-01336b194/" class="fa fa-linkedin"></a>
        </p>
        {% endblock  %}
    </body>
    

</html>
