{% extends "navbar.html" %}
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group" >
            {{form.name.label_tag}} {{form.name}}
            {{form.lecturer.label_tag}} {{form.lecturer}}
            {{form.credit.label_tag}} {{form.credit}}
            {{form.room.label_tag}} {{form.room}}
            {{form.semester.label_tag}} {{form.semester}}
            {{form.description.label_tag}} {{form.description}}
        </div>
        <input href="{% url 'story5:add' %}" class="btn btn-secondary" type="submit" value="Add Course">
    </form>

    {% endblock %}
    </body>
</html>