{% extends "navbar.html" %}
    {% block content %}
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title fav">My Courses</h5>
                <p class="card-text">This page will be about the courses that I took</p>
            </div>
        </div>
        <br>
        <div>
            <a type="button" class="btn btn-secondary add" href="{% url 'story5:add' %}" role ='button'> Add Course</a>       
        </div>    
        <br>
        <div class="col lg-4">
            <table class="table table-responsive-lg table-striped ">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Room</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete Course</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in course %}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td>{{ c.lecturer }}</td>
                            <td>{{ c.credit }}</td>
                            <td>{{ c.room }}</td>
                            <td>{{ c.semester }}</td>
                            <td>{{ c.description }}</td>
                            <td>
                                <a href="{% url 'story5:course_remove' id=c.id %}">
                                    <button class="btn btn-icon btn-secondary" > Delete </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
