{% extends 'navbar.html' %}
{% load static%}
{% block content %}
    <img src="{% static 'photo.png' %}" class="photo">

    <h2> Raniah Nur Hanami </h2>


    <h3> About Me </h3>
    <em> Hello! My name is Raniah. I am a student of computer science in University of Indonesia, class of 2019. 
    I'm a fun and full-of-spirit person. I like to communicate with other people and that what makes me an adaptable person. 
    I really like sports, especially soccer and softball.
    </em>
    
    <h3> Skills and Interest </h3>
    <p>
        Team Work
        <br> Responsible
        <br> Flexibility 
        <br> Time Management
        <br> Volunteering
    </p>
    
    <h3> Educational Background </h3>
    <ul>
        <li class="eb"> University of Indonesia : 2019 - now </li>
        <li class="eb"> SMAN 5 Bogor : 2016 - 2019  </li>
        <li class="eb"> SMPN 4 Bogor : 2013 - 2016 </li>
        <li class="eb"> SDN Sukadamai 3 Bogor : 2007 - 2013</li>
    </ul> 



        <h3> Committee and Organization Experience </h3>
        <p class = "co"> Volunteer at Panda Mobile WWF Indonesia
        <p class = "co"> Staff of Playground Division at COMPFEST 12 </p>
        <p class = "co"> Vice Person in Charge of Liaison Officer at Open House Fasilkom UI 2020 </p>
        <p class = "co"> Student Mentor at PMB 2020 </p>
        <p class = "co"> Staff of Futsal Planner at PERAK Fasilkom UI </p>
        <p class = "co"> Staff of Event Division at Wisuda Ganjil 2020 </p>
        <p class = "co"> Secretarty at Runtime Error 5.0 </p>
        <p class = "co"> Vice Person in Charge of Event Division at Social Project 2019 </p>


    <div id = "gallery" class="jumbotron">
        <h1>  Gallery </h1>
        <p class ="gallery"> A bunch of images about my journey </p>
    </div>  

    <div class="row">
        <div class= "col-lg-4 col-sm-6">
            <img class="pict" src="{% static '1.jpg' %}">
        </div>
        <div class= "col-lg-4 col-sm-6">
            <img class="pict" src="{% static '2.jpg' %}">
        </div>
        <div class= "col-lg-4 col-sm-6"> 
            <img class="pict" src="{% static '3.jpg' %}">
        </div>

        <div class= "col-lg-4 col-sm-6">
            <img class="pict" src="{% static '4.jpg' %}">
        </div>
        <div class= "col-lg-4 col-sm-6">
            <img class="pict" src="{% static '6.jpg' %}">
        </div>
        <div class= "col-lg-4 col-sm-6"> 
            <img class="pict" src="{% static '5.jpg' %}">
        </div>      

        <div class= "col-lg-4 col-sm-6">
            <img class="pict" src="{% static '7.png' %}">
        </div>
        <div class= "col-lg-4 col-sm-6">
            <img class="pict" src="{% static '8.jpg' %}">
        </div>
        <div class= "col-lg-4 col-sm-6"> 
            <img class="pict" src="{% static '9.png' %}">
        </div> 
    </div>
    <div class="socmed">
        <span> Reach me at&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        <a href="https://www.instagram.com/ranianhanami/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/raniah-nur-hanami-01336b194/" class="fa fa-linkedin"></a>
        <span class="email"> ranianurhanami@gmail.com  </span>
    </div>
{% endblock %}