{% extends 'navbar.html' %}
{% load static%}
{% block content %}
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title fav">Favorites</h5>
                <p class="card-text">This page will be about my favorite things.</p>
            </div>
        </div>
        <br>
        
        <h3> Favorite Songs</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4">
                <iframe src="https://open.spotify.com/embed/track/4xqrdfXkTW4T0RauPLv3WA" width="230rem" height="380rem" frameborder="0" allowfullscreen ="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col mb-4">
                <iframe src="https://open.spotify.com/embed/track/77SiKnkNEnRw0uoPE4wuEp" width="230rem" height="380rem" frameborder="0" allowfullscreen ="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col mb-4">
                <iframe src="https://open.spotify.com/embed/track/4LEK9rD7TWIG4FCL1s27XC" width="230rem" height="380rem" frameborder="0" allowfullscreen ="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <br>

    
        <h3> Favorite Series </h3>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4">
                <div class="card bg-light">
                <img src="{% static 'e.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Elite : Netflix Series</h5>
                </div>
                </div>
            </div>
            <br>
            <div class="col mb-4">
                <div class="card bg-light">
                <img src="{% static 'dm.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dare Me : Netflix Series</h5>
                </div>
                </div>
            </div>
            <br>
            <div class="col mb-4">
                <div class="card bg-light">
                <img src="{% static 'ge.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Get Even : Netflix</h5>
                </div>
                </div>
            </div>
        </div>
            
        

        <h3> Favorite Movies </h3>
        <div class="row row-cols-1 row-cols-md-4 ">
            <div class="col mb-4">
                <div class="card bg-light">
                <img src="{% static 'hp.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Harry Potter</h5>
                </div>
                </div>
            </div>
            <br>
            <div class="col mb-4">
                <div class="card bg-light">
                <img src="{% static 'kb.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kissing Booth</h5>
                </div>
                </div>
            </div>
            <br>
            <div class="col mb-4">
                <div class="card bg-light">
                <img src="{% static 'rpo.jpeg'%} " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ready Player One</h5>
                </div>
                </div>
            </div>
        </div>
        {% endblock %}