html {
    scroll-behavior: smooth;
}

body {
    border: 20px solid #bdc3c7;
    text-align: center;
    width: 75%;
    margin: 1.0em auto;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    letter-spacing: 0.2rem;
}

th{
    color:#2c3e50;
}

img{
    height: 15.0rem;
    width: 11.0rem;
    display : block; 
    margin: auto;
    mix-blend-mode: normal;
    border-radius: 13px;
    margin-bottom: 1.0rem;
}

.photo{
    height:40%;
    width : 40%;
}
h3 {
    color: #2c3e50;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    font-weight: 600;
    font-size: 1.5em;
}
h2 {
    text-transform: capitalize;
    color: #2c3e50;
    font-size: 2.9rem;
    text-align: center;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.7rem;
    font-weight: 600;
}

em {
    letter-spacing: 0.12rem;
}
ul {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    line-height: 3.0rem;
    list-style-type: none;
}

.eb:before {
    content:"·";
    font-size:8.5rem;
    color: #2c3e50;
    vertical-align:middle;
}


p{
    letter-spacing: 0.2rem; 
    margin-bottom: 1.5rem;
    font-size: 1.0rem;
}

.co {
    line-height: 1.0rem;
}

.fa {
  padding: 1rem;
  font-size: 1.7rem;
  width: 2em;
  height: 2em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}

.ed { 
    text-align: left;
    margin-left: 40%;
}

.pict {
    width : 100%;
    border-radius: 0;
}
h1 {
    font-weight: 600;
}

.jumbotron {
    margin-top: 5%;
    color : #2c3e50;
    text-align: left;
}

.img-thumbnail {
    margin : 5px;
    padding: 0.1rem;
    padding-bottom: 0px;
}

.navbar-dark {
    background-color: #2c3e50;
}

.gallery {
    margin-top: 2.0rem;
    font-size: 1.2rem;
}

span {
    color: #2c3e50;
    font-weight: 600;
    font-size: 1.5rem;
}

.email {
    font-weight: 400;
    font-size: 0.9rem;
}

.btn-secondary {
    background-color: #2c3e50;
    align-content: flex-end;
}
.card-img-top {
    border-radius: 0;
}

.card{
    color : #2c3e50;
}

.fav {
    font-weight: 600;
}

.navbar-light {
    color :#2c3e50;
}

b{
    font-size: 2.0em;
    text-align: center;
}